 <div class="jumbotron">
        <h3>Crie o próximo sanduíche do GB e ganhe dinheiro por cada unidade vendida!</h3>
        <div id="howto">
        <div id="txt">
        <h4>Como funciona</h4>
      <h5> Você envia sua receita e no final do período de 30 dias o nosso <strong>Original Gran Cheff GB </strong> escolhe as 3 melhores. É aberta então a votação para o público escolher a preferida entre as 3 finalistas. A receita com mais votos entra no cardápio por 1 mês e o criador recebe <em>royalties</em> de R$ 0,50 por cada unidade vendida. <strong> Fácil não ?! </strong></h5>
      </div>
</p></div>
        <a class="btn btn-large btn-success" href="/recipes/new">Criar Receita</a>

      </div>